<mat-sidenav-container class="sidenav-container background-color-white">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="border-bottom">
      <img
        mat-card-image
        class="main-logo"
        src="assets/img/logo-with-title.png"
      />
    </mat-toolbar>
    <app-menu-list></app-menu-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header-bar (buttonToggleClick)="drawer.toggle()"></app-header-bar>
    <!-- Content is plotted here by child component from routes - children component -->
    <router-outlet name="content"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
