<mat-toolbar class="border-bottom background-color-white">
  <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="10px" class="width-100">
    <div fxFlex="50%" fxFlex.lt-md="50%" class="total-results">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="toggleMenuBar()"
              *ngIf="isHandset$ | async">
        <mat-icon svgIcon="menu" class="menu-navbar">543</mat-icon>
      </button>
      <span>{{title}}</span>
    </div>
    <div fxFlex="50%" fxFlex.lt-md="50%">
      <div fxLayout="row" fxLayoutAlign="end baseline" fxLayoutGap="0px">
        <div>
        </div>
        <div class="padding-bottom-20">
          <div fxLayout="row" fxLayoutAlign="center baseline">
            <div>
              <mat-icon svgIcon="notifications_none"></mat-icon>
            </div>
            <div>
              <mat-icon svgIcon="mail_outline"></mat-icon>
            </div>
            <div>
              <a href="#">
                <img mat-card-image class="user-image" src="assets/img/user-img.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
